requests==2.31.0
redis==4.3.4
matplotlib==3.6.1
celery==5.2.3
fastapi==0.75.2
bcrypt==3.2.0
uvicorn==0.6
sqlalchemy==1.4.32
alembic==1.7.7
bcrypt==3.2.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.5
pydantic==1.9.0
react==17.0.2
datetime
smtplib